In [1]:
import pandas as pd

In [2]:
imdb = pd.read_csv("../dados/imdb.csv")

In [7]:
diretor_unnest = (imdb.
    filter(["direcao"]).
    assign(direcao2 = lambda x: x.direcao.str.split(",")).
    explode("direcao2")
)
diretor_unnest

                              direcao           direcao2
0                         Tay Garnett        Tay Garnett
1                      Henry Hathaway     Henry Hathaway
2                     Raphaël Nadjari    Raphaël Nadjari
3      Eddie Beverly Jr., Tommy Blaze  Eddie Beverly Jr.
3      Eddie Beverly Jr., Tommy Blaze        Tommy Blaze
...                               ...                ...
28485                     Jake Kasdan        Jake Kasdan
28486                     Jack Arnold        Jack Arnold
28487                  John Carpenter     John Carpenter
28488                     Robert Wise        Robert Wise
28489                     John Polson        John Polson

[30465 rows x 2 columns]

In [18]:
(diretor_unnest.
    groupby(lambda x: x).
    # groupby("direcao2")
    agg(
        diretor_nest = ("direcao2", lambda x: [i for i in x])
    )
)

                            diretor_nest
0                          [Tay Garnett]
1                       [Henry Hathaway]
2                      [Raphaël Nadjari]
3      [Eddie Beverly Jr.,  Tommy Blaze]
4                      [James L. Brooks]
...                                  ...
28485                      [Jake Kasdan]
28486                      [Jack Arnold]
28487                   [John Carpenter]
28488                      [Robert Wise]
28489                      [John Polson]

[28490 rows x 1 columns]