In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
penguins = sns.load_dataset("penguins")

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
# Faça um gráfico de dispersão de `bill_length_mm` por `body_mass_g` (eixo y)

In [ ]:
# Mapeie a cor dos pontos no gráfico anterior para a espécie do penguim.

In [ ]:
# Faça o tamanho dos pontos ficar proporcional ao tamanho das asas (`flipper_length_mm`).

In [4]:
# ------ Agora usando a base do imdb
imdb = pd.read_csv("../dados/imdb.csv")

In [ ]:
# Crie um gráfico de dispersão da nota do imdb pelo orçamento.

In [ ]:
# Faça um gráfico de linhas do orçamento médio dos filmes ao longo dos anos.

In [ ]:
# Transforme o gráfico do exercício anterior em um gráfico de barras.

In [ ]:
# Descubra quais são as 5 produtoras (como a Walt Disney Animation Studios e a Walt Disney Pictures) que mais aparecem na coluna 
# producao e faça um boxplot do lucro dos filmes dessas produtoras.